.additional__title {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  color: @special_dark-grey-3;
}

.additional__list {
  .list-reset();

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {

  }
}

.additional__item {
  @media (min-width: @tablet-width) {

  }

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.additional__product {
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: @special_dark-grey-2;
}

.additional__table {
  font-family: @font-secondary;
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  display: flex;
  align-items: center;
  text-align: center;
  color: @special_dark-grey;
}

.additional__link {
  background: @basic_green;
  width: 280px;
  height: 40px;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: @basic_white;
  justify-content: center;
}

.additional__item-gift {
  background-image: url("../img/catalog/gift-photo-mini.png");
  width: 280px;
  height: 289px;
}

.additional__gift {
  font-family: @font-secondary;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  text-align: center;
  color: @basic_white;
}

.additional__wrapper {
  @media (min-width: @tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    margin: auto;
    max-width: 1220px;
  }
}

.additional__container {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: max-content min-content;
    column-gap: 79px;
  }
}
