.additional__title {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @special_dark-grey-3;
}

.additional__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.additional__product {
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: @special_dark-grey-2;
}

.additional__table {
  font-family: "Arial";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  color: @special_dark-grey;
}

.additional__link {
  background: @basic_green;
  width: 280px;
  height: 40px;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: @basic_white;
  justify-content: center;
}

.additional__item--icon {
  background-image: url("../img/catalog/gift-photo-mini.png");
  width: 280px;
  height: 289px;
}

.additional__gift {
  font-family: "Arial";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: @basic_white;
}
