.catalog__title {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: @basic_black;
}

.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog__description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: @special_dark-grey-2;
}

.catalog__table {
  font-family: "Arial";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: @special_dark-grey;
}

.catalog__link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: @basic_white;
  background-color: @basic_green;
  width: 280px;
  height: 40px;
  text-decoration: none;
  justify-content: center;
}

.catalog__description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @special_dark-grey-3;

}

.catalog__text {
  font-family: "Arial";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: @special_dark-grey;
}

.catalog__link__all {
  width: 279px;
  height: 40px;
  background: @basic_grey;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: @special_dark-grey;
  justify-content: center;
  text-decoration: none;
}
