.example {
  background-color: @special_grey-3;
}

.example__title {
  font-weight: normal;
  font-size: 36px;
  line-height: 1.1;
  color: @basic_black;
}

.example__description {
  font-family: @font-secondary;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.29;
  color: @special_dark-grey;
}

.example__heading {
  font-weight: normal;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  color: @basic_black;
}

.example__cell {
  font-family: @font-secondary;
  font-weight: normal;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  color: @special_dark-grey;
}

.example__price {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  text-transform: uppercase;
  color: @basic_black;
}

.example__wrapper {
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    margin: auto;
    max-width: 1220px;
  }
}
