.form__description {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.125;
  text-transform: uppercase;
  color: @special_dark-grey;
}

.form__input {
  font-family: inherit;
  border: 1px solid @special_grey-4;
}

.form__fields-list {
  .list-reset();

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 123px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
  }
}

.form__fields-item {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.125;
  text-transform: uppercase;
  color: @special_dark-grey-2;

  @media (min-width: @tablet-width) {
    width: 221px;
  }

  @media (min-width: @desktop-width) {
    grid-row: 1 / -1;
  }
}

.form__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px 44px;
  color: @basic_white;
  background-color: @basic_green;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  border: none;
  cursor: pointer;
  width: 280px;
  height: 40px;
  justify-content: center;
  font-family: inherit;
}

.form__necessarily {
  font-family: @font-secondary;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  align-items: center;
  text-align: center;
  color: @basic_black;
}

.form__container {
  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.form__wrapper {
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    margin: auto;
    max-width: 1220px;
  }
}
