.form__description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special_dark-grey;
}

.form__input {
  border: 1px solid @special_grey-4;
  box-sizing: border-box;
}

.form__fields-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__fields-item {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special_dark-grey-2;
}

.form__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px 44px;
  color: @basic_white;
  background-color: @basic_green;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  border: none;
  cursor: pointer;
}

.form__necessarily {
  font-family: "Arial";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: @basic_black;
}
