.form__description {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.125;
  text-transform: uppercase;
  color: @special_dark-grey;
}

.form__input {
  font-family: inherit;
  border: 1px solid @special_grey-4;
  box-sizing: border-box;
}

.form__fields-list {
  .list-reset();
}

.form__fields-item {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.125;
  text-transform: uppercase;
  color: @special_dark-grey-2;
}

.form__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px 44px;
  color: @basic_white;
  background-color: @basic_green;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  border: none;
  cursor: pointer;
  width: 280px;
  height: 40px;
  justify-content: center;
}

.form__necessarily {
  font-family: @font-secondary;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  align-items: center;
  text-align: center;
  color: @basic_black;
}
