.host-contacts {
  border: none;
}

.host-contacts__title {
  font-weight: normal;
  font-size: 24px;
  line-height: 1.08;
  color: @basic_black;
}

.host-contacts__text {
  width: 100%;
  height: 151px;
}
