.in-work__title {
  font-weight: normal;
  font-size: 36px;
  line-height: 1.11;
  text-align: left;
  color: @basic_black;
}

.in-work__list {
  .list-reset();
  display: grid;
  row-gap: 20px;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(auto-fill, 230px);
    column-gap: 153px;
    row-gap: 37px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 94px;
  }
}

.in-work__item {
  font-family: @font-secondary;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.29;
  color: @special_dark-grey;

  @media (min-width: @tablet-width) {
    // width: 230px;
  }
}

.in-work__wrapper {
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    margin: auto;
    max-width: 1220px;
  }
}

.in-work__item--number-1 {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-image: url("../../img/icons/icon_leaf.png");
  }
}

.in-work__item--number-2 {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-image: url("../../img/icons/icon_tub.png");
  }
}

.in-work__item--number-3 {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-image: url("../../img/icons/icon_eat.png");
  }
}

.in-work__item--number-4 {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-image: url("../../img/icons/icon_alarm.png");
  }
}

.in-work__description {
  margin: 0;
  padding-left: 80px;
}

