.in-work__title {
  font-weight: normal;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: @basic_black;
}

.in-work__list {
  .list-reset();
}

.in-work__item {
  font-family: @font-secondary;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.29;
  color: @special_dark-grey;
}
