.in-work__title {
  font-weight: normal;
  font-size: 36px;
  line-height: 1.11;
  text-align: left;
  color: @basic_black;
}

.in-work__list {
  .list-reset();
  display: grid;
  row-gap: 20px;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(auto-fill, 230px);
    column-gap: 153px;
    row-gap: 37px;
    counter-reset: section;
    list-style-type: none;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 94px;
  }
}

.in-work__item {
  font-family: @font-secondary;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.29;
  color: @special_dark-grey;
  position: relative;

  @media (min-width: @tablet-width) {
    margin-bottom: 94px;
    &::after {
      counter-increment: section;
      content: counters(section,".");
      position: absolute;
      top: -56px;
      left: 80px;
      font-size: 280px;
      line-height: 1;
      color: @basic_grey;
      z-index: -1;
    }
  }
}

.in-work__wrapper {
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    margin: auto;
    max-width: 1220px;
  }
}

.in-work__item--number-1 {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-image: url("../../img/icons/icon_leaf.svg");
  }
}

.in-work__item--number-2 {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-image: url("../../img/icons/icon_tub.svg");
  }
}

.in-work__item--number-3 {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-image: url("../../img/icons/icon_eat.svg");
  }
}

.in-work__item--number-4 {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-image: url("../../img/icons/icon_alarm.svg");
  }
}

.in-work__description {
  margin: 0;
  padding-left: 80px;

  @media (min-width: @tablet-width) {
    padding-left: 0;
    padding-top: 75px;
  }
}

