.page-body {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: @basic_white;
  font-size: 14px;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 1.28;
}

.page-body--background {
  @media (min-width: @desktop-width) {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      background-image: url("../../img/desktop-cat.jpg");
      background-repeat: no-repeat;
      width: 50%;
      height: 700px;
      background-size: auto 700px;
      z-index: -1;
    }
  }
}
