.page-footer__part-one {
  height: 115px;
  background-color: @basic_grey;

  @media (min-width: @tablet-width) {
    height: 200px;
  }

  @media (min-width: @desktop-width) {
    height: 0;
  }
}

.page-footer__part-two {
  background-color: @basic_grey;
  width: auto;
}

.page-footer__wrapper {
  padding: 0 20px;


  @media (min-width: @tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    margin: auto;
    max-width: 1220px;
    position: relative;
  }
}

.page-footer__map-block {
  background-color: @basic_grey;

  @media (min-width: @desktop-width) {
    position: relative;
    min-height: 400px;
    width: 100%;
  }
}

.page-footer__map {
  width: 100%;
  height: 362px;

  @media (min-width: @tablet-width) {
    width: 100%;
    height: 400px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    width: 100%;
    height: 100%;
  }
}

.page-footer__logo {
  text-align: center;
  display: block;
}

.page-footer__container {
  min-height: 236px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  position: relative;

  @media (min-width: @tablet-width) {
    min-height: 150px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.page-footer__social {
  border-top: solid @special_grey-8 2px;
  border-bottom: solid @special_grey-8 2px;

  @media (min-width: @tablet-width) {
    border: none;
  }
}
