.page {
  height: 100%;
  font-size: 14px;
  font-family: "Oswald", @font-secondary, sans-serif;
  line-height: 18px;
}

.page__body {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  align-content: start;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
}

.page-header {
  display: flex;
  justify-content: start;
}
