.program__header {
  background-image: url("../img/cat-top.png");
  background-repeat: no-repeat;
}

.program__point {
  font-weight: normal;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  color: @basic_white;
}

.program__slogan {
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  color: @basic_white;
  text-align: center;
}

.program__button {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.29;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  background-color: @basic_green;
  color: @basic_white;
  text-decoration: none;
  width: 280px;
  height: 40px;
}

.program__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.program__item {
  background-color: @basic_grey;
}

.program__title {
  font-weight: normal;
  font-size: 24px;
  line-height: 1.54;
  color: @basic_black;
  text-transform: uppercase;
  text-align: center;
}

.program__description {
  font-family: "Arial";
  font-weight: normal;
  font-size: 14px;
  line-height: 1.29;
  color: @special_dark-grey;
}

.program__link {
  color: @basic_black;
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}
