.program__header {
  background-image: url("../img/cat-top.png");
  background-repeat: no-repeat;
}

.program__point {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: @basic_white;
}

.program__slogan {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: @basic_white;
  text-align: center;
}

.program__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 44px;
  background-color: @basic_green;
  color: @basic_white;
  text-decoration: none;
}

.program__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.program__item {
  background-color: @basic_grey;
}

.program__title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  color: @basic_black;
  text-transform: uppercase;
  text-align: center;
}

.program__description {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @special_dark-grey;
}

.program__link {
  color: @basic_black;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
}
