.questionnaire__title {
  color: @basic_black;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
}

.questionnaire__description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @basic_black;
}

