.questionnaire {
  min-height: 518px;

  @media (min-width: @tablet-width) {
    min-height: 844px;
  }

  @media (min-width: @desktop-width) {
    min-height: 584px;
  }
}

.questionnaire__form {
  border-top: 1px solid @special_grey-8;
}

.questionnaire__title {
  color: @basic_black;
  font-weight: normal;
  font-size: 36px;
  line-height: 1;
}

.questionnaire__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  color: @basic_black;
}

.questionnaire__wrapper {
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    margin: auto;
    max-width: 1220px;
  }
}

.questionnaire__fields-list {
  .list-reset();

  border-top: 1px solid @special_grey-8;
  border-bottom: 1px solid @special_grey-8;
}

.questionnaire__container-main {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.questionnaire__fields-item {
  margin-bottom: 19px;
  margin-left: 30px;
}
