.social__list {
  .list-reset();
  display: flex;
  justify-content: space-between;
  width: 130px;
  margin: 0 auto;
  align-items: center;
}

.social__link--instagram {
  &:hover {
    fill: @basic_green;
  }

  &:active {
    fill: @basic_green;
    opacity: 0.3;
  }
}

.social__link--vkontakte {
  &:hover {
    fill: @basic_green;
  }

  &:active {
    fill: @basic_green;
    opacity: 0.3;
  }
}

.social__link--facebook {
  &:hover {
    stroke: @basic_green;
  }

  &:active {
    opacity: 0.3;
  }
}
